.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7%;
}
.menu_links{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    a{
        text-decoration: none;
        color: #111111;
        font-size: 18px;
    }
    li{
        padding-right: 15%;
    }
}